body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center; 
  font-size: 20px;
}

.template {
  background: rgba(5, 29, 53, 0.85);
  min-height: 100vh;
  color: rgb(203, 203, 203);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 780px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.header__logo-container, .header__links-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 40px;
}

.link {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

.link, 
.link:visited,
.link:hover,
.inline-link, 
.inline-link:visited,
.inline-link:hover {
  color: white;
}

.inline-link {
  display: inline-block;
}

.content {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

.logo {
  width: 150px;
  margin-right: 20px;
  margin-top: -40px;
}

.title {
  line-height: .85;
  margin: 5px 0 5px -5px;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .title {
    margin: 20px 0;
    font-size: 70px;
    text-align: center;
  }
}

.subtitle {
  margin: 5px 0;
  font-weight: normal;
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 27px;
    text-align: center;
  }
}

.hidden {
  display: none;
}

.team {
  display: flex;
  min-height: 80vh;
  margin-left: -20px;
  align-items: top;
  justify-content: center;
  color: white;
}

.team__inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .team__inner {
    flex-direction: column;
  }
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  text-align: center;
  min-height: 480px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  background: rgba(255, 255, 255, .2);
}

.team-member__img {
  max-width: 200px;
  border-radius: 50%;
  filter: sepia(70%);
}

.contact {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  color: white;
}

.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, .2);
}

.contact__elements {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.contact__element {
  position: relative;
  max-width: 50%;
  padding: 0 20px 20px 20px;
}

@media only screen and (max-width: 600px) {
  .contact__elements {
    flex-direction: column;
  }

  .contact__element {
    max-width: 100%;
  }
}

.contact__address {
  padding-bottom: 20px;
}

.contact__address h2 {
  margin-top: 0;
}

.contact__address address {
  font-style: normal;
}

#map {
  min-width: 320px;
  max-width: 100%;
  height: 300px;
}

.about {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  color: white;
}

.about h1 {
  margin-bottom: 0;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, .2);
}

.about__description {
  margin: 20px;
  line-height: 1.5;
  max-width: 650px;
}

.about__iframe-container {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  width: 100%;
}

.about__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.careers {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  color: white;
}

.careers__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, .2);
}